@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Proxima Nova",arial, sans-serif;
  font-size: 16px;
}

.sales--close{
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0;
  background-color: $white;
  position: absolute;
  color: #17494d;
}

.container{
  display: flex;
  position: relative;
  margin: auto;
  padding: 64px 96px;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid $black;
  border-radius: 10px;

}

.main__sales{
  color: $darkgreen;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
}

.main__paragraph{
  font-size: 16px;
  text-align: center;
  color: $lighterdarkgreen;
  margin-bottom: 24px;
  width: 360px;
  line-height: 1.5rem;
}
.main__secondparagraph{
  font-size: 16px;
  text-align: center;
  color: $lighterdarkgreen;
  margin-bottom: 10px;
  width: 360px;
}

.main__name{
  font-size: 14px;
  color: $lighterdarkgreen;
  margin-bottom: 4px;
  font-weight: bold;
}

.paragraph__center{
  display: flex;
  justify-content: center;

}

.main__input{
  width: 360px;
  height: 60px;
  padding: 20px 15px;
  margin-bottom: 10px;
  &__one__line{
    width: 360px;
    height: 60px;
    padding: 20px 15px;
    margin-bottom: 10px;
    &--dp{
      margin-bottom: 10px;
      font-size: 12px;
      color:$red;
      margin-top: -5px;
    }
  }
  &--emp{
    width: 360px;
    height: 60px;
    padding: 20px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    &--dp{
      margin-bottom: 10px;
      font-size: 12px;
      color:$red;
      margin-top: -5px;
    }
  }
  &--emp:hover,&__message:hover,&:hover,&__one__line:hover{
    border: 1px solid $hover;
  }

  &__message{
    resize: vertical;
    width: 360px;
    &--dp{
      margin-bottom: 10px;
      font-size: 12px;
      color:$red;
    }
  }
  &__first--dp,&__comp--dp,&__phone--dp,&__last--dp{
    margin-bottom: 10px;
    font-size: 12px;
    color:$red;
    margin-top: -5px;
  }
  &__select--dp{
    width: 360px;
    margin-bottom: 10px;
    font-size: 12px;
    color:$red;
  }

  &__first--dp1,&__last--dp1{
    width: 360px;
  }

}

.main__check{
  height: 14px;
  width: 14px;
  cursor: pointer;
  &:hover{
    border: 1px solid $hover;
  }
}

.main__checkvalue{
  font-size: 14px;
  color: $lighterdarkgreen;
  margin: 0 10px;
}

.main__button{
  margin: 10px 0 0;
  padding: 12px 24px 11px;
  background-color: $lighterdarkgreen;
  color: $white;
  width: 360px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.main__names,.main__data{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.main__not__allowed{
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 604px) {
  .main__button{
    width: 375px;
    padding: 12px 24px 11px;
  }

  .main__paragraph,.main__secondparagraph{
    width: 375px;
  }

  .main__input {
    width: 180px;
    padding: 20px 15px;

    &__message {
      width: 375px;
      padding: 15px;
      margin-bottom: 10px;
      &--dp{
        margin-top: -10px;
      }
    }

    &__one__line {
      width: 375px;
      padding: 20px 15px;
    }

    &--emp {
      width: 180px;
      padding: 20px 15px;
      margin-left: 20px;
      &--dp{
        margin-left: 10px;
        margin-top: -5px;
      }
    }
    &__last--dp{
      margin-left: 20px;
      margin-top: -5px;
    }

    &__first--dp1,&__last--dp1{
      width: 180px;
    }
    &__select--dp{
      width: 375px;
    }
  }

  .main__last{
    margin-left: 20px;
  }
}

@media all and (min-width: 840px) {
  .main__button{
    width: 626px;
    padding: 12px 24px 11px;
  }

  .main__paragraph,.main__secondparagraph{
    width: 626px;
  }

  .main__input{
    width: 300px;
    padding: 20px 15px;
    &__message{
      width: 626px;
      padding: 15px;
    }
    &--emp{
      width: 300px;
      padding: 20px 15px;
      margin-left: 25px;
      &--dp{
        margin-left: 25px;
        margin-top: -5px;
      }
    }
    &__one__line{
      width: 626px;
      padding: 20px 15px;
    }
    &__last--dp{
      margin-left: 25px;
      margin-top: -5px;
    }
    &__select--dp{
      width: 626px;
    }

    &__first--dp1,&__last--dp1{
      width: 300px;
    }
  }


  .main__last{
    margin-left: 25px;
  }

}

@media all and (min-width: 1115px) {
  .main__button{
    width: 375px;
    padding: 12px 24px 11px;
  }

  .main__paragraph,.main__secondparagraph{
    width: 375px;
  }


  .main__input{
    width: 180px;
    padding: 20px 15px;
    &__one__line{
      width: 375px;
      padding: 20px 15px;
    }
    &__message{
      width: 375px;
      padding: 15px;
    }
    &--emp{
      width: 180px;
      padding: 20px 15px;
      margin-left: 20px;
      &--dp{
        margin-left: 9px;
        margin-top: -5px;
      }
    }
    &__select--dp{
      width: 375px;
    }
    &__first--dp1,&__last--dp1{
      width: 180px;
    }
  }


  .main__last{
    margin-left: 20px;
  }

}


